<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Virhe</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        
        <h1 th:text="${kysymysteksti}"></h1>
        
        <h2>Vastausvaihtoehdot</h2>

        <ul>
            <li th:each="arvo : ${vastaukset}">
                <span th:text="${arvo}">
                    Tähän tulee vastauksen toString-esitys
                </span>
                <form th:action="${arvo.huijaus()}" method="POST">
                    <input type="hidden" name="tunnus" th:value="${arvo.id}"/>
                    <input type="submit" value="poista"/>                    
                </form>
            </li>
        </ul>
        
        <h3>Uusi vastausvaihtoehto</h3>
        
        <form th:action="${kysymys}" method="POST">
            <table>
                <tr>
                    <td>
                        Vastaus:
                    </td>
                    <td>
                        <input type="text" name="teksti"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Oikein:
                    </td>
                    <td>
                        <input type="checkbox" name="oikein" value="true"/> 
                    </td>
                </tr>

            </table>
            <input type="submit" value="lisaa"/>
        </form>
        
        <p>  </p>
        
        <form action="/" method="GET">
            <input type="submit" value="takaisin"/>
        </form>

        <p><font color="red">Anna vastausteksti!</font></p>
        
    </body>
</html>

